<%= form_for(optimization) do |f| %>
  <% if optimization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(optimization.errors.count, "error") %> prohibited this optimization from being saved:</h2>

      <ul>
      <% optimization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!--   <div class="field">
    <%= f.label :optimizable_id %>
    <%= f.text_field :optimizable_id %>
  </div> -->

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
