<p id="notice"><%= notice %></p>

<h1>Optimizations</h1>

<table>
  <thead>
    <tr>
      <th>Optimizable</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @optimizations.each do |optimization| %>
      <tr>
        <td><%= optimization.optimizable %></td>
        <td><%= link_to 'Show', optimization %></td>
        <td><%= link_to 'Edit', edit_optimization_path(optimization) %></td>
        <td><%= link_to 'Destroy', optimization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Optimization', new_optimization_path %>
