<p id="notice"><%= notice %></p>

<p>
  <strong>Optimizable:</strong>
  <%= @optimization.optimizable %>
<p>
  <strong>name:</strong>
  <%= @optimization.name %>
<p>
  <strong>content:</strong>
  <%= @optimization.content %>

</p>

<%= link_to 'Edit', edit_optimization_path(@optimization) %> |
<%= link_to 'Back', optimizations_path %>
